:root {
  --body-font:
    Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro,
    sans-serif;
  --bg-primary: #fff;
  --bg-secondary: #f1f5f9;
  --text-primary: #000;
  --text-secondary: #666;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--body-font);
  color: var(--text-primary);
}

.container {
  display: grid;
  grid-template-columns: 55px 1fr;
  height: 100%;
}

.sidebar {
  background-color: var(--bg-primary);
  box-shadow: 0 0 10px #ddd;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__logo {
  margin: 0;
  margin-top: 15px;
  font-size: 16px;
}

.sidebar__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.sidebar__list:first-of-type {
  margin-top: 30px;
}

.sidebar__list:last-of-type {
  margin-top: 50px;
}

.sidebar__item img {
  width: 18px;
}

.main {
  background-color: var(--bg-secondary);
}

.header {
  background-color: var(--bg-primary);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.search-box > input {
  outline: none;
  border: 1px #ccc solid;
  border-radius: 10px;
  height: 35px;
  padding-left: 35px;
  background: url("../img/magnify.svg") no-repeat 10px center;
  background-size: 18px;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-container > img:first-child {
  width: 25px;
}

.profile-container > img:last-child {
  width: 40px;
}

.projects {
  margin: 20px;
}

.large-grid {
  display: grid;
  gap: 30px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.large-grid > .card {
  padding: 5px 15px;
  background-color: var(--bg-primary);
  border-radius: 10px;
  border-left: 6px solid #26a584;
  height: 200px;
  position: relative;
}

.large-grid > .card > p {
  color: var(--text-secondary);
}

.card__icons {
  position: absolute;
  right: 40px;
  bottom: 10px;
}

.card__icons > img {
  width: 20px;
  gap: 2px;
}

.announcements {
  margin: 20px;
}

.small-grid {
}

.small-grid > .card {
  padding: 5px 15px;
  background-color: var(--bg-primary);
  border-radius: 10px;
}

.small-grid > .card > p {
  font-size: 14px;
  color: var(--text-secondary);
}

.trending {
  margin: 20px;
}

.trending__card {
  background-color: var(--bg-primary);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 30px 10px;
  gap: 40px;

  justify-items: center;
}

.trending__topic {
  display: flex;
}

.trending__topic > img {
  width: 60px;
}

.trending__desc {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 5px;
}

.trending__desc > span:first-of-type {
  font-size: 18px;
  color: #4f86c6;
}

.trending__desc > span:last-of-type {
  color: var(--text-secondary);
}
